{% extends 'base.html' %}
{% load static %}

{% block title %}Internet hyzmat bölümi - Kassa № {{ counter_id }}{% endblock %}

{% block content %}
    <div class="header" style="margin-bottom: 15px;">
        <h1>Internet hyzmat bölümi - Kassa № {{ counter_id }}</h1>
    </div>

    <div class="info-text">Garaşýan talonlar sany: <strong>{{ waiting_ahead }}</strong></div>

    <div class="ticket-display">
        {% if ticket %}
            {{ ticket.ticket_number }}
        {% else %}
            ---
        {% endif %}
    </div>

    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="action" value="next">
        <button type="submit" class="btn-next">
            <i class="fa-solid fa-bullhorn"></i> Indiki talony çagyrmak
        </button>
    </form>


{% endblock %}